@import url("../../../styles/App.scss");

$desktop-extra-large: 2560px;
$desktop-large: 1920px;
$desktop: 1440px;
$tablet-landscape: 1200px;
$tablet-portrait: 900px;
$phone: 600px;
$phone-small: 374px;

@mixin for-size($media) {
  // DESKTOP FIRST
  $breakpoints: (
    desktop-extra-large: $desktop-extra-large,
    desktop-large: $desktop-large,
    desktop: $desktop,
    tablet-landscape: $tablet-landscape,
    tablet-portrait: $tablet-portrait,
    phone: $phone,
    phone-small: $phone-small,
  );

  @each $key, $value in $breakpoints {
    @if $media == $key + "-low" {
      @media screen and (max-width: $value) {
        @content;
      }
    }
  }
}
.colors {
  background: #0f0;
}

.root {
  position: relative;
  margin: auto;
  padding: 70px 0 50px 360px;
  max-width: 1032px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 348px;
    height: 302px;
    background: url("../../../images/SVG/Certificate.svg") no-repeat;
    background-size: contain;
  }

  .title {
    margin: 0 0 16px;
    line-height: 1.4;
    font-family: "Roboto Flex", sans-serif;
    font-size: em(34);
  }

  .description {
    color: gray;
    font-family: "Roboto Flex", sans-serif;
  }

  // VARIANT WITH LEFT IMAGE
  &.position-horizontal-left {
    padding-right: 360px;
    padding-left: 0;

    &::after {
      top: 0;
      left: auto;
      right: 0;
      width: 348px;
      height: 302px;
      background: url("../../../images/SVG/Google Ads.svg") no-repeat;
      background-size: contain;
    }
  }

  // VARIANT WITH IMAGE IN THE CENTER
  &.position-horizontal-center {
    padding-top: 350px;
    padding-left: 0;
    text-align: center;

    &::after {
      top: 0;
      right: auto;
      left: 50%;
      height: 288px;
      background: url("../../../images/SVG/Scrum Meeting.svg") no-repeat;
      background-size: contain;
      transform: translateX(-50%);
    }
  }
}

// RESPONSIVE - TABLET LANDSCAPE AND LOWER
// ------------------------------------------------------------------------- //
@media screen and (max-width: 900px) {
  .root {
    padding-top: 220px;
    padding-left: 0;
    text-align: center;

    &::after {
      top: 20px;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }

    .title {
      margin-bottom: 32px;
      font-size: em(24);
    }

    &.position-horizontal-left {
      padding-right: 0;
      text-align: center;
      padding-top: 220px;

      &::after {
        top: 20px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &.position-horizontal-center {
      padding-top: 220px;

      &::after {
        top: 20px;
        width: 312px;
        height: 155px;
      }
    }
  }
}

// RESPONSIVE - PHONE AND LOWER
// ------------------------------------------------------------------------- //
@include for-size(phone-low) {
  .outage {
    padding-top: 180px;

    &::after {
      width: 260px;
      height: 120px;
    }

    &.position-horizontal-right {
      &::after {
        width: 240px;
        height: 150px;
      }
    }

    &.outage-impossible {
      padding-top: 180px;

      &::after {
        width: 260px;
        height: 130px;
      }
    }
  }
}

.section {
  margin-top: 16px;
}
