$primary: #41b3a3;
$primary-light: #85cdca;
$primary-dark: #348f82;
$primary-darkest: #276b61;

$secondary: #e27d60;
$secondary-light: #e8a87c;
$secondary-dark: #cb7056;
$secondary-darkest: #9e5743;

$tertiary: #c38d9e;
$tertiary-dark:#af7e8e;
$tertiary-light:#c998a7;

$white: #fff;
$black: #000;
$gray: #808080;
$gray-light: #8c8c8c;
$gray-dark: #4c4c4c;