@import "../../../styles/variables.scss";

.root {
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid $primary;
  font-size: 14px;
  color: $white;
  background: $primary;
  align-items: center;
  display: flex;

  &:hover {
    background: $primary-dark;
  }

  &:focus {
    outline: 2px solid $primary-darkest;
    border-color: $primary-darkest;
  }

  &:active {
    background: $primary-darkest;
    border-color: $primary-darkest;
  }

  svg {
    margin-left: 4px;
  }

  // Sizes
  &.is-size-sm {
    padding: 4px 8px;
  }

  &.is-size-xl {
    padding: 12px 24px;
  }
}

// Variants
.secondary {
  border-color: $primary;
  color: $primary;
  background: transparent;

  &:hover {
    background: #ceebe9;
  }

  &:focus {
    outline: 2px solid $primary-darkest;
    border-color: $primary-darkest;
  }

  &:active {
    background: $primary-darkest;
    border-color: $primary-darkest;
    color: $white;
  }
}

// Button Group

.group {
  display: flex;
  margin: 16px 0 8px;

  .root,
  .root + .root {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  + .group {
    margin-bottom: 8px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.isDisabled {
  cursor: not-allowed;
  color: $gray;
  background: #cccccc;
  border-color: $gray;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    cursor: not-allowed;
    color: $gray;
    background: #cccccc;
    border-color: $gray;
    outline: none;
  }
}
